.App, html, body{
  text-align: center;
  background-image: url(./assets/background.png);
  background-size: 25%;
  animation: pan 180s linear infinite;
}
/* image source: https://www.alamy.com/seamless-pattern-with-hand-drawn-dollar-sign-black-elements-on-white-background-vector-illustartion-image331793829.html */

.header {
  background-image: url(./assets/backgroundHeader.png);
  background-size: 50%;
  color: white;
}
/* header image source: https://www.etsy.com/ca/listing/1048584685/gold-money-seamless-digital-paper */

.background {
  background-color: rgba(0, 0, 0, 0.75);
}

p, h2, h3, label {
  color: white !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pan {
  0% {
    transform: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}